<div class="col mb-4">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <p class="card-title">{{ project.title }}</p>
        <p class="card-text">{{ project.description }}</p>      
      </div>
    </div>
</div>